{
	"presets": [
		[
			"@babel/preset-env",
			{
				"targets": {
					"ie": 9
				},
				"useBuiltIns": "usage"
			}
		]
	],
	"plugins": [
		[
			"babel-plugin-transform-builtin-extend",
			{
				"globals": [
					"Error"
				]
			}
		]
	],
	"comments": false
}
